/*------------------------------------*\
    #ABSTRACTS: COLORS
\*------------------------------------*/

$color-white: #fff !default;
$color-link: #888 !default;
$color-link-hover: #b2b2b2 !default;
$color-dark: #222 !default;
$color-body: #555 !default;
